@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Suisse Intl-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/590fd0ac9645f4000b40b234/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Suisse Intl-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5acf5eec45d880000bfff03a/suisseintl-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse Intl-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c451cd842b6cc000a8301f0/SuisseIntl-Medium.otf") format("opentype");
}

@font-face {
  font-family: "YS Text-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c51bc30b4f58c0009ed0ab4/YS Text-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "YS Text-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c51bc30b4f58c0009ed0ab4/YS Text-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "YS Text-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5c51bc30b4f58c0009ed0ab4/YS Text-Regular.ttf") format("truetype");
}
