:root {
  --textprimary: rgba(38, 38, 51, 1);
  --text-100: rgba(0, 0, 0, 1);
  --background: rgba(239, 242, 247, 1);
  --x-staticwhite: rgba(255, 255, 255, 1);
  --linenormal: rgba(180, 184, 204, 0.52);
  --textsecondary: rgba(133, 136, 158, 1);
  --x-borderdefault: rgba(180, 184, 204, 0.36);
  --x-staticblack: rgba(0, 0, 0, 1);
  --surfacesurface-primary: rgba(255, 255, 255, 1);
  --surfacesubmerged: rgba(247, 248, 250, 1);
  --x-staticwhite-soft: rgba(255, 255, 255, 0.9);
  --text-l-medium-font-family: "YSText-Medium", Helvetica;
  --text-l-medium-font-weight: 500;
  --text-l-medium-font-size: 18px;
  --text-l-medium-letter-spacing: 0px;
  --text-l-medium-line-height: 22px;
  --text-l-medium-font-style: normal;
  --text-XS-medium-font-family: "YSText-Medium", Helvetica;
  --text-XS-medium-font-weight: 500;
  --text-XS-medium-font-size: 12px;
  --text-XS-medium-letter-spacing: 0px;
  --text-XS-medium-line-height: 14px;
  --text-XS-medium-font-style: normal;
  --text-m-medium-font-family: "YSText-Medium", Helvetica;
  --text-m-medium-font-weight: 500;
  --text-m-medium-font-size: 16px;
  --text-m-medium-letter-spacing: 0px;
  --text-m-medium-line-height: 20px;
  --text-m-medium-font-style: normal;
  --effect-shadow-surface-elevated-0-5: 0px 2px 4px 0px rgba(147, 151, 173, 0.3),
    0px 0px 2px 0px rgba(147, 151, 173, 0.1);
}
